@font-face {
    font-family: "Mont";
    src: url("mont.ttf") format("truetype");
}

body {
    background-color: #00ffaf;
    font-family: Mont, sans-serif;
}

h1 {
    font-size: 72px;
    margin: 30px 30px 30px 50px;
}

.btn {
    border: 2px solid black;
    border-radius: 10px;
    font-size: 32px;
    padding: 10px 20px;
    margin: 20px 20px 20px 150px;
    font-family: Mont, sans-serif;
}